@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}


