$white: #ffffff !default;
$black: #000000 !default;

$brand-primary: #20b873 !default;
$brand-secondary: #e5c2c2 !default;

$default-number: #ecc0c1 !default; 

$selected-number: #00bd6d !default;
$selected-number-backgroud: #d7faec !default;

$white: #ffffff !default;
$gray-1: #878787 !default;
$gray-2: #e8e8e8 !default;
$gray-3: #eeeeee !default;
$gray-4: #595a5a !default;


$text-color: $gray-4;
$thin-lines: $gray-2;
