@import "../containers/border-radius";
@import "../shadows/box-shadow";
@import "variables";

@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  @include border-radius($border-radius);
}

@mixin button-variant($color, $background, $border) {
  $active-background: darken($background, 10%);
  $active-border: darken($border, 12%);

  color: $color;
  background-color: $background;
  border-color: $border;
  @include box-shadow($btn-box-shadow);

  &:hover,
  &.hover {
    color: $color;
    background-color: $active-background;
    border-color: $active-border;
  }

  &.disabled,
  &:disabled {
    background-color: $background;
    border-color: $border;
  }

  &:active,
  &.active {
    color: $color;
    background: $active-background none;
    border-color: $active-border;
  }
}
