@import "../node_modules/normalize.css/normalize";
@import "./styles/buttons/buttons";
@import "./styles/fonts";
@import "./styles/variables";

body {
  font-family: $font-family-default;
  font-weight: $font-weight-default;
  font-size: $font-size-default;
  color: $font-color-default;
  background-color: $gray-3;
}

h1, h2, h3, h4, h5, h6 {
  color: $font-color-default;
}
